.container-barber {
  background-image: url(../../../assets/images/bg_main.jpeg);
  height: 100vh;
}
.barber-container-detail {
  margin-top: 12rem;
  display: flex;
  justify-content: space-around;
  .content-barber-left {
    h1 {
      font-size: 5.5rem;
      line-height: 1;
      font-weight: bold;
    }
    span {
      font-weight: lighter;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.572);
    }
    .btn-booking {
      margin-top: 2rem;
      button {
        color: white;
        font-weight: 700;
        font-size: 20px;
        padding: 1rem;
        border-radius: 20px;
        background-image: rgba(255, 0, 0, 0.498);
        transition: 0.2s;
        border: none;
        i {
          padding: 10px;
        }
        &:hover {
          transition: 1s;
          color: rgba(0, 0, 0, 0.869);
          background-image: rgba(255, 0, 0, 0.844);
        }
      }
    }
  }
  .barber-image {
    img {
      height: 500px;
      width: 400px;
      border-radius: 30px;
    }
  }
}
.schedule-barber {
  display: flex;
  min-height: 200px;
  padding: 10px 0;
  margin-top: 10rem;
  background-image: rgba(255, 255, 0, 0.483);
  border-radius: 10px;
  border-radius: 10px;
  .content-left {
    width: 50%;
    margin: 20px;
  }
  .content-right {
    width: 50%;
    margin: 20px;
  }
}
.detail-infor-barber {
  border-top: 4px solid rgb(33, 31, 31);
  border-bottom: 4px solid rgb(33, 31, 31);
  padding: 35px;
  background-color: rgba(128, 121, 121, 0.208);
  img {
    width: 100%;
  }
}
@media screen and (max-width: 60rem) {
  .barber-container-detail {
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;
    .content-barber-left {
      h1 {
        font-size: 18px;
        padding: 10px;
        line-height: 1;
        font-weight: bold;
      }
      span {
        font-weight: lighter;
        font-size: 1rem;
        padding: 10px;
        color: rgba(0, 0, 0, 0.841);
      }
      .btn-booking {
        margin-top: 2rem;
        button {
          color: white;
          font-weight: 400;
          font-size: 10px;
          padding: 0.3rem;
          border-radius: 5px;
          background-image: rgba(255, 0, 0, 0.498);

          transition: 0.2s;
          border: none;
          i {
            padding: 10px;
          }
          &:hover {
            transition: 1s;
            color: rgba(0, 0, 0, 0.869);
            background-image: rgba(255, 0, 0, 0.864);
          }
        }
      }
    }
    .barber-image {
      img {
        height: 300px;
        width: 200px;
        border-radius: 20px;
      }
    }
  }
}
