.title-verify-email {
  text-align: center;
  margin-top: 10rem;
  font-weight: bolder;
}
.picture-intro-verify {
  background-image: url(../../assets/images/background.jpeg);
  width: 50%;
  height: 50%;
  background-size: contain;
  margin: 0 auto;
}
