.detail-service-container {
  .description-service {
    margin: 10px;
    margin-bottom: 10rem;
    li {
      margin-top: 10px;
    }
    img {
      width: 30%;
      position: absolute;
      top: 6rem;
      left: 56rem;
    }
    p {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 20px;
    }
  }
  .detail-service-body {
    margin: 115px 230px;
  }
  .search-barber-province {
  }
  .each-barber {
    display: flex;
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
    padding: 10px;

    box-shadow: 0 3px 6px black;
    box-shadow: 0 3px 6px black;
    border-radius: 5px;
    .mix-content-left {
      width: 50%;
      border-right: 2px solid rgba(13, 12, 12, 0.683);
    }
    .mix-content-right {
      width: 50%;
      padding: 10px;
      .barber-schedule {
        .barber-schedule-container {
          border-right: unset;
        }
      }
      .barber-extra-infor {
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;
        .barber-extra-infor-container {
          padding-left: 0 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 60rem) {
  .detail-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    .description-service {
      width: 500px;

      margin-bottom: 6rem;
      li {
        margin-top: 10px;
        font-size: 12px;
      }
      img {
        position: relative;
        top: 1rem;
        left: 4rem;
        width: 70%;
      }
      p {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 15px;
        padding: 10px;
      }
    }
    .detail-service-body {
      margin: 100px 200px;
    }
    .each-barber {
      width: 100%;
      min-height: 200px;

      box-shadow: 0 3px 6px black;
      box-shadow: 0 3px 6px black;
      border-radius: 5px;
      .mix-content-left {
        width: 50%;
        border-right: 2px solid rgba(13, 12, 12, 0.683);
        .content-right .up {
          font-size: 13px;
        }
        .content-right .down {
          font-size: 10px;
        }
      }
      .mix-content-right {
        width: 50%;
        padding: 10px;
        .barber-schedule {
          .barber-schedule-container {
            border-right: unset;
          }
        }
        .barber-extra-infor {
          border-top: 1px solid #ddd;
          margin-top: 10px;
          padding-top: 10px;
          .barber-extra-infor-container {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 40rem) {
  .detail-service-container {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 3rem;
    .description-service {
      width: 500px;
      margin-bottom: 6rem;
      li {
        margin-top: 10px;
        font-size: 10px;
        margin-left: 5rem;
      }
      h3 {
        margin-left: 70px;
      }

      img {
        position: relative;
        top: 1rem;
        left: 5rem;
        width: 50%;
      }
      h1 {
        margin-left: 5rem;
      }

      p {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 12px;
        padding: 10px;
        margin-left: 5rem;
      }
    }
    .search-barber-province {
      select {
        margin-left: 80px;
      }
    }
    .detail-service-body {
      margin: 100px 200px;
    }

    .each-barber {
      width: 100%;

      box-shadow: 0 3px 6px black;
      box-shadow: 0 3px 6px black;
      border-radius: 5px;
      .mix-content-left {
        width: 50%;
        padding: 3rem;
        border-right: 2px solid rgba(13, 12, 12, 0.683);
        .content-right .up {
          font-size: 8px;
          width: 84px;
        }
        .content-right .down {
          font-size: 8px;
          width: 84px;
        }
      }
      .intro-barber .content-left {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-left: 25px;
      }
      .all-schedule {
        font-size: 10px;
      }
      .no-schedule {
        font-size: 6px;
      }
      .text-calendar {
        font-size: 6px;
      }
      .content-down {
        width: 75%;
      }
      .text-address {
        font-size: 7px;
      }
      .name-branch {
        font-size: 9px;
      }
      .detail-address {
        font-size: 8px;
      }
      .content-down {
        font-size: 10px;
      }
      .barber-schedule-container
        .all-available-time
        .time-content
        .time-content-schedule
        button {
        padding: 1px 2px;
        border: none;
        outline: none;
        background-color: gray;
        border-radius: 3px;
        color: white;
      }
      .barber-schedule-container .all-available-time .time-content .book-free {
        padding-top: 10px;
        font-size: 10px;
      }
      .mix-content-right {
        width: 50%;
        padding: 10px;
        .barber-schedule {
          .barber-schedule-container {
            border-right: unset;
          }
        }
        .barber-extra-infor {
          border-top: 1px solid #ddd;
          margin-top: 10px;
          padding-top: 10px;
          .barber-extra-infor-container {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}
